name: Publicar AppImage en Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.2.2

      - name: Extraer versión de Node.js desde .nvmrc
        id: node-version
        run: |
          NODE_VERSION=$(cat .nvmrc | tr -d '[:space:]')
          echo "node-version=$NODE_VERSION" >> $GITHUB_OUTPUT

      - name: Setup Node.js
        uses: actions/setup-node@v3.9.1
        with:
          node-version: ${{ steps.node-version.outputs.node-version }}
          
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.1.0

      - name: Extraer versión de pnpm desde package.json
        id: pnpm-version
        run: |
          PNPM_VERSION=$(grep '"packageManager"' package.json | sed -E 's/.*"packageManager": *"pnpm@([^"]+)".*/\1/')
          echo "pnpm-version=$PNPM_VERSION" >> $GITHUB_OUTPUT

      - name: Enable Corepack y PNPM
        run: |
          corepack enable
          corepack prepare pnpm@${{ steps.pnpm-version.outputs.pnpm-version }} --activate

      - name: Instalar dependencias
        run: pnpm install --frozen-lockfile
        
      - name: Transpilar js
        run: pnpm run build -- -p never

      - name: Construir AppImage
        run: |
          export SIGNAL_ENV=production
          npx electron-builder --linux AppImage --publish never

      - name: Get AppImage filename from ./dist/
        id: get_appimage
        run: |
          FILE=$(find ./dist/ -type f -name '*.AppImage' | head -n 1)
          echo "appimage_name=$FILE" >> "$GITHUB_OUTPUT"


      - name: Upload to Release Action
        uses: Shopify/upload-to-release@v2.0.0
        with:
          name: signal-desktop-${{ github.ref_name }}.AppImage
          path: ${{ steps.get_appimage.outputs.appimage_name }}
          content-type: application/vnd.appimage
          repo-token: ${{ secrets.GH_TOKEN }}
